* {
    font-family: 'Advent Pro', sans-serif;
    font-size:12.5px;
    padding:0px;
    margin:0px;
    
}

#container {
border:1px solid red;
}
#uppersection {
border:1px solid black;
width:100%;

}
#heading {
    border: 1px solid black;
}

h4 {
font-size:12.5px;
padding:5px 0px;
}

#selectpaymentterms {
    width: 150px;
}

#tblmiddlesection {
border:1px solid black;
padding:5px 0px;
width:100%;
}
#productinfo {
border:1px solid yellow;
width:100%;
}
#jqgridproductinfo {
    border: 1px solid orange;
    width: 100%;
}
.middlesectionlables {
padding-bottom:10px;
}


