@model SleekBill.Data.invoice

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Main/Main.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div id="DocumentData"> 
        <h4>Document Data</h4>
    </div>
</body>
</html>
